.bg-light {
  background-color: #fe3f3f !important;
}
.navbar-brand {
  padding-left: 200px;
}
.form-inline {
  padding-left: 345px;
}
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}
